body {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12pt;
	margin: 0px;
	color: rgb(119, 119, 119);
}

a {
	text-decoration: none;
}

body > #wrapper {
    min-height: 100%;
}

html, body, #wrapper {
    height: 100%;
}

#wrapper {
	width: 100%;
	margin: 0 auto;
}

#header {
	width: 100%;
	background-color: rgb(243,126,31);
	height: 70px;
	margin-bottom: 10px;
}

#logo {
	margin-left: 5%;
	display: inline-block;
}

#feature-switches {
	display: none;
}

#console-container {
	width: 98%;
	padding-left: 1%;
	float: left;
}

#console-status {
	
}

#aircraft-status {
	margin-top: 10px;
}

#aircraft-altitude {

}

#aircraft-speed {
	display: block;
}

#logging {
	display: block;
	border: solid 1px rgb(119,119,119);
	margin-top: 15px;
	height: 190px;
	overflow: hidden;
}

#logging p {
	font-size: 0.813em;
	margin: 7px 10px 0;
}

#disconnect {
	margin-left: 10px;
	width: 125px;
	height: 25px;
}

#messagebox {
	height: 25px;
	width: 100%;
	padding: 0px;
	margin-top: 10px;
}

#image-monitor {
	width: 98%;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 55%;
	float: left;
	margin-left: 1%;
}

#image-monitor canvas {
	height: 100%;
	width: 100%;
}

#gmaps-container {
	display: none;
	width: 59%;
	margin-right: 1%;
	float: right;
	height: 80%;
}

#gmaps {
	width: 100%;
	height: 100%;
}

#context-menu {
	background-color: #FFFFFF;
	width: 170px;
	padding: 0px;
	border: 1px;
	cursor: pointer;
	border-left: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #676767;
	border-bottom: 1px solid #676767;
	text-decoration: none;
}

.context-menu-item {
	font-family: arial,helvetica,sans-serif;
	font-size: 12px;
	text-align: left;
	line-height: 30px;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	padding: 3px 5px 3px 5px;
	background-repeat: no-repeat;
	background-position: 4px center;
}

.context-menu-hover {
	background-color:#d6e9f8;
}

#map-selector {
	margin-bottom: 8px;
}

.map-selector-radio {
	position: absolute;
	clip: rect(0px, 0px, 0px, 0px);
}

.map-selector-radio-label {
	margin-left: 0px;
	margin-right: -0.33em;
	border: 1px solid #d3d3d3;
	background: #e6e6e6;
	font-weight: normal;
	color: rgb(85, 85, 85);
	font-family: Verdana,Arial,sans-serif;
	font-size: 0.8em;
	text-decoration: none;
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.map-selector-radio-label:not(.radio-checked):hover {
	background: #dadada;
	border: 1px solid #999999;
}

.radio-checked {
	border: 1px solid #aaaaaa;
	background: #ffffff;
}

.radio-left {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

.radio-right {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

.map-selector-text {
	display: block;
	line-height: normal;
	padding: 0.4em 0.8em;
}

.onoffswitch {
	display: inline-block;
	position: relative; width: 84px;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
	top: 3px;
}

.onoffswitch-checkbox {
	display: none;
}

.onoffswitch-label {
	display: block; overflow: hidden; cursor: pointer;
	border-radius: 6px;
}

.onoffswitch-inner {
	width: 200%; margin-left: -100%;
	-moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
	-o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
	float: left; width: 50%; height: 22px; padding: 0; line-height: 22px;
	font-size: 17px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
	content: "ON";
	padding-left: 21px;
	background-color: #009B95; color: #FFFFFF;
}

.onoffswitch-inner:after {
	content: "OFF";
	padding-right: 21px;
	background-color: #CCCCCC; color: #787878;
	text-align: right;
}

.onoffswitch-switch {
	width: 14px; margin: 4px;
	background-color: #FFFFFF;
	border: 2px solid #FFFFFF; border-radius: 6px;
	position: absolute; top: 0; bottom: 0; right: 58px;
	-moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
	-o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 0px;
}

#footer {
	clear: both;
	display: block;
	background-color: #009B95;
	position: relative;
}

#footer-content {
	margin: 0 5%;
	height: 80px;
	position: inherit;
	margin-top: -80px;
}

#footer-text {
	padding-top: 27px;
	color: white;
}

@media only screen and (min-width: 480px) {
	#aircraft-speed {
		display: block;
	}	
}

@media only screen and (min-width: 768px) {
	#feature-switches {
		display: block;
		position: relative;
		top: 0px;
		width: 30%;
		margin-left: 10px;
	}
	#feature-switches ul li:not(:first-child) {
		margin-left: 0px;
	}

	#feature-switches ul li {
		display: block;
		list-style: none outside none;
	}

	#feature-selectors {
		padding: 0px;
		margin: 0px;
	}

	.feature-text {
		font-size: 18pt;
	}
	
	#console-container  {
		width: 35%;
		margin-top: 60px;
	}
	
	#gmaps-container {
		display: block;
	}
	
	#aircraft-speed {
		margin-left: 10px;
		display: inline;
	}
	
	#aircraft-status {
		margin-top: 5px;
	}

	#image-monitor {
		width: 35%;
		clear: left;
	}
}

@media only screen and (min-width: 1140px) {
	#feature-switches {
		display: inline-block;
		position: absolute;
		top: 21px;
		width: 70%;
	}
	
	#feature-switches ul li {
		display: inline-block;
	}
	
	#feature-switches ul li:not(:first-child) {
		margin-left: 20px;
	}
	
	.feature-text {
		color: white;
	}	
	
	#console-container {
		margin: 0;
	}
}